/*--------------- Background ---------------------*/

.sphere-shadow{
    box-shadow: 0 0 1vw 1vw #7dd4e784, 
    0 0 5vw #7dd4e7,
    0 0 10vw #7dd4e7; 
}

.sphere-shadow:nth-child(even){
    box-shadow: 0 0 1vw 1vw #fff3, 
    0 0 5vw #fff,
    0 0 10vw #fff;
    background-color: #fff;

}

.stars-move{
    animation: stars-move 15s linear infinite;
    animation-duration: calc(320s / var(--i));
    animation-delay: -8s;
}

@keyframes stars-move{
    0%{
        transform: translateY(100vh) scale(-.5)
    }
    100%{
        transform: translateY(-10vh) scale(.6)
    }
}

.rotate-athom{
    animation: rotation-athom 30s linear infinite;
}

@keyframes rotation-athom{
    0%{transform: rotate(0deg);} 
    10%{opacity: .3;}
    30%{opacity: 1;}
    50%{opacity: .4;}
    70%{opacity: 1;}
    90%{opacity: .5;}
    100%{transform: rotate(360deg);}
}

/*--------------------- Header ----------------------*/

.text-shadow{
    text-shadow: 0px 1px rgb(241, 241, 238) ;
}